---
import Layout from '../layouts/Layout.astro'

import { profile } from '@/settings'
import Hero from '@/components/ui/Hero.astro'
import NewsList from '@/components/ui/NewsList.jsx'

const { fullName, title, institute, research_areas } = profile

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---



<Layout>

	<!-- Hero Section -->
	<section class='flex items-center gap-12 pb-0'>
		<Hero
			fullName={fullName}
			title={title}
			institute={institute}
		/>
	</section>

	<!-- Main Content and News Side-by-Side -->
	<section class='flex flex-col md:flex-row gap-8 border-b py-12'>
			<div class='flex-1 text-left'>
					<!-- About Section -->
					<div class='about-section'>
						<h2 class='text-2xl font-bold mb-4'>About</h2>
									  <p style="text-align: justify; word-break: break-word; hyphens: auto;">
										The Cognition and Decision Lab is a joint venture among principal investigators
										<a href='http://www.columbia.edu/~mw2230/'>Michael Woodford</a>,
										<a href='http://www.columbia.edu/~md3405/'>Mark Dean</a> and
										<a href='http://www.afrouzi.com/'>Hassan Afrouzi</a>, faculty members of the Economics Department at Columbia University.
										The lab's aim is to use tools and techniques from Economics, Neuroscience, and Psychology to better understand the cognitive processes underlying economic decision making. Current projects include studying the way in which limited attention is allocated during choice and understanding the role of incomplete preferences in economic decision making. For more information, please contact one of the principal investigators.
									</p>
					</div>

					<!-- Announcements Section -->
							<div class='about-section mt-8' style="text-align: left;">
								<h2 class='text-2xl font-bold mb-4'>Announcements</h2>
								<ul>
									<li style="text-align: justify;">
										<strong>Summer 2025:</strong> The lab is excited to have a new postdoctoral researcher in IAB. Jiang Mao joins us from U Penn, where she completed her PhD dissertation on computational models of vision under Alan Stocker. Welcome Jiang!
									</li>
								</ul>
							</div>
			</div>
	<aside class='md:w-1/3 w-full text-left'>
			<!-- Latest News Section -->
			<div class='bg-base-200 text-base-content rounded-lg p-6 shadow'>
				<h2 class='text-2xl font-bold mb-4'>Latest News</h2>
				<NewsList client:visible />
			</div>
		</aside>
	</section>

	<!-- Lab Image -->
	<section class='py-12 border-b'>
		<img src='/group-photo.avif' alt='Lab Group Photo' class='w-full rounded shadow' />
	</section>


<style>
	.about-section a {
		color: #2176b6;
		text-decoration: underline;
	}
</style>

</Layout>
