---
import Layout from '../layouts/Layout.astro'
---
<Layout>
  <section class="py-12">
    <h1 class="text-4xl font-bold mb-8">Links</h1>
    <div class="space-y-8">
      <ul class="list-disc ml-8 space-y-2">
        <li><a href="https://econ.columbia.edu/per/research/cognitive-and-behavioral-economics-initiative/cognition-decision-seminar-series/" target="_blank" class="text-blue-600">Cognition and Decision Seminar Series</a></li>
        <li><a href="http://econ.columbia.edu/celss" target="_blank" class="text-blue-600">Columbia Experimental Laboratory for the Social Sciences (CELSS)</a></li>
        <li><a href="http://www8.gsb.columbia.edu/decisionsciences/" target="_blank" class="text-blue-600">Center for Decision Sciences (Columbia Business School)</a></li>
      </ul>
    </div>
  </section>
</Layout>
