---
import { Image } from 'astro:assets'


const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <div class='my-0'>
    <div style="display: flex; justify-content: center; align-items: center;">
      <img src="/cognition-decision-lab-logo.png" alt="Cognition and Decision Lab Logo" class="w-full dark:invert" style="width: 95%; max-width: 95%; height: auto;" />
    </div>
  </div>
</div>
